@model TimberBeamCalculator.Models.Dimensions

@{
    ViewBag.Title = "Index";
}

<h2>Calculator goes here.</h2>


    @using (Html.BeginForm()) {
        <p>Beam span length = @Html.TextBoxFor(x => x.BeamSpanLength) meters </p>
        <p>Width of Timber Beam = @Html.TextBoxFor(x => x.WidthOfTimberBeam) millimeters</p>
        <p>Depth of Timber Beam = @Html.TextBoxFor(x => x.DepthOfTimberBeam) millimeters (72 mm minimum - 300 mm maximum)</p>
        <p>Depth of Timber Beam =  @(Html.Kendo().NumericTextBox<double>()
            .Name("kDepthOfTimberBeam")
            .Format("#.00 mm")
            .Min(72.00)
            .Max(300.00)
            .Step(1.00)
            .Value(72.00)
        ) millimeters (72 mm minimum - 300 mm maximum)</p>
        <input type="submit" value="Run Calculation" />
    }